@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playpen+Sans:wght@100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100%;
}

/**body{
    background: #FAA7A3 url('imagens/background001.jpg') no-repeat fixed;
    background-size: cover;**/
main{
    font-family:"Playpen Sans", cursive;
}
/**links**/
a{
    text-decoration: none;
    color: #ff6a00;
}
/**cabeçalho**/
header{
    font-family: 'passion-one', sans-serif;
    color: rgb(239, 220, 233);
    background-color: #66200A;
    padding: 50px;
    text-align: center;
}
header h1{
    font-size: 42px;
    margin-bottom: 20px;
    font-variant: small-caps;
}
/**texto**/
section{
    line-height: 2em;
    font-size: 3vw;
    padding: 10vh 0px 10vh 20px;
}
section.back{
    background-color: #FAA7A3;
}
section.back_ex{
    color: #ffffff;
    box-shadow: inset 6px 0px 20px 0px #000000;
}
section.back_ex p {
    padding: 10px;
    background-color: #1616165e;
    display: inline-block;
    
}
section p{
    margin-bottom: 20px;
}
section#imagem1{
    background: #0000005e url('imagens/background001.jpg') repeat fixed;
    background-size: cover;
    background-position: center 0px;
}

section#imagem2{
    background: #000000 url('imagens/background002.jpg') repeat fixed;
    
    background-size: cover;
}
/**rodapé**/
footer{
    text-align: center;
    color: white;
    padding: 5px;
    background-color: #66200A;
}
